---
layout: blog
title: Blog
subtitle: My latest articles
permalink: /blog/
---

<ul class="list-posts">
    {% for post in site.posts %}
        <li class="post-teaser">
            <a href="{{ post.url | prepend: site.baseurl }}">
                <span class="post-teaser__title">{{ post.title }}</span>
                <span class="post-teaser__date">{{ post.date | date: "%d %B %Y" }}</span>
                <p class="description">
                {% if post.description %}
                    {{ post.description | strip_html | strip_newlines | truncate: 120 }}
                {% else %}
                    {{ post.content | strip_html | strip_newlines | truncate: 120 }}
                {% endif %}</p>
            </a>
        </li>
    {% endfor %}
</ul>
